<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar_top_title', { title: 'Item Details', back: true, icon: true }); %>

    <%- include('partials/clothes_detail_info', { mode: 'browse' }); %>

    <%- include('partials/navbar_bottom', { active: 2 }); %>

    <%- include('partials/scripts'); %>

                <script>
                    function onScanned(info) {
                        window.location.href = '/scan_result'
                    }

        // $(function () {
        //     $('#more-info').click(function () {
        //         $('#info-modal').modal('show')
        //     })
        // })
                </script>
</body>

</html>