<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <%- include('partials/navbar_top_title', { title: 'Combination Details', back: true, icon: true }); %>

        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col-10">
                            <h1>
                                <small>Combination</small>
                                <br>Striped Black/White Tee + Brown Shorts</h1>
                        </div>
                        <div class="col-2">
                            <%- include('partials/fav_toggle', { favorite: locals.favorite }); %>
                        </div>
                    </div>
                    <button href="/pickup?itemcount=2" class="buton-link btn btn-primary btn-block btn-lg ">
                        <i class="fas fa-level-up-alt mr-4" aria-hidden="true"></i> Pick Up Now</button>
                    <button class="btn btn-outline-dark btn-lg btn-block toast-trigger" data-toast-message="This button will give you sharing options for messaging apps e.g., WhatsApp, Messenger, to share this clothes with others. Not yet implemented in this prototype."
                        data-toast-style="info">Get Opinion from Others</button>
                    <ul class="nav nav-tabs nav-justified mt-3">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Striped Tee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Brown Shorts</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <%- include('partials/clothes_detail_info', { mode: 'browse' }); %>

            <%- include('partials/navbar_bottom', { active: 1 }); %>

                <%- include('partials/scripts'); %>

</body>

</html>