<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <!-- <a href="/1a_add_details" class="btn btn-lg btn-primary">add details</a> -->
            </div>
        </div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_top_title', { title: 'Favorites', back: false }); %>
    <%- include('partials/navbar_bottom', { active: 3 }); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>