<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar_top_title', { title: 'Favorites', back: false, icon: true }); %>
    <div class="container">
        <div class="row">
            <div class="col">
                <%- include('partials/clothes_combo', { 
                    itemName: 'Striped T-Shirt + Brown Shorts' ,
                    image: '/img/photos/Casual Outfit@2x.jpg',
                    tags: 'casual'
                }); %>
                <%- include('partials/clothes_card', { 
                    itemName: 'Black Dress Pants' ,
                    image: '/img/photos/Item - pants@2x.jpg',
                    description: 'Formal Plain Black Slim-fit Dress Pants',
                    brand: 'Arrow',
                    tags: 'formal, bottoms'
                }); %>
                <!-- <a href="/1a_add_details" class="btn btn-lg btn-primary">add details</a> -->
            </div>
        </div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    
    <%- include('partials/navbar_bottom', { active: 3 }); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>