<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="mt-3 btn-group btn-group-fullwidth" role="group" aria-label="Basic example">
                    <a href="#" class="btn btn-primary">Current</a>
                    <a href="#" class="btn btn-outline-dark">History</a>
                </div>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                
                <a href="#" class="btn btn-primary btn-block mt-3">Pick up all</a>
                <a href="#" class="btn btn-primary btn-block mt-3">Ask for opinion</a>
                <!-- <a href="/1a_add_details" class="btn btn-lg btn-primary">add details</a> -->
            </div>
        </div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_top_title', { title: 'Pick-up List' }); %>
    <%- include('partials/navbar_bottom', { active: 1 }); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>