<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar_top_title', { title: 'Tag Scanned', icon: false }); %>

    <%- include('partials/clothes_detail_info', { mode: 'scan' }); %>

        <%- include('partials/navbar_bottom', { active: 2 }); %>

            <%- include('partials/scripts'); %>

                <script>
                    function onScanned(info) {
                        window.location.href = '/scan_result'
                    }

                    getToggleValue(function (toggles) {
                        console.log(toggles)
                        $('#add-to-clothes-list').prop('disabled', !toggles.homeMode)
                        if (!toggles.homeMode) {
                            $('#add-to-clothes-list').addClass('disabled')
                        } else {
                            $('#add-to-clothes-list').removeClass('disabled')
                        }
                    })
                    
                    
                    // $(function () {
                    //     setTimeout(function () {
                    //         if (confirm('Do you want to hang this item in your smart closet now?'))
                    //             window.location.href = '/scan_hanging'
                    //     }, 2000)
                    // })
                </script>
</body>

</html>