<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>
    <%- include('partials/navbar_top_searchbar', { back: true, fill: 'Casual Shirt' }); %>
    
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Search Result for '<span class="replace-from-query" data-key="q">Casual Shirt</span>'</h1>
                <div class="text-center">
                    <button class="btn btn-primary px-5 toast-trigger" data-toast-message="This button opens filter options. Not yet implemented in this prototype." data-toast-style="info"><i class="fas fa-filter" aria-hidden="true"></i> Filter</button>
                </div>
                <div class="my-3 btn-group btn-group-fullwidth" role="group" aria-label="Basic example">
                    <button class="btn btn-primary" role="switch" aria-checked="true">Show only in wardrobe</button>
                    <button class="btn btn-outline-dark toast-trigger" role="switch" aria-checked="false" data-toast-message="This button show all items in the search result list. Not yet implemented in this prototype." data-toast-style="info">Show all items</button>
                </div>
                <%- include('partials/clothes_combo', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <!-- <a href="/1a_add_details" class="btn btn-lg btn-primary">add details</a> -->
            </div>
        </div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_bottom', { active: 1 }); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>