<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Search Result for 'Casual Shirt'</h1>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <%- include('partials/clothes_card', { title: 'Favorites' }); %>
                <!-- <a href="/1a_add_details" class="btn btn-lg btn-primary">add details</a> -->
            </div>
        </div>
        <!-- <a href="scan" class="btn btn-primary">Go to scan page</a> -->
    </div>

    <%- include('partials/navbar_top_searchbar', { back: false, fill: 'Casual Shirt' }); %>
    <%- include('partials/navbar_bottom, { active: 1 }'); %>
    
    <%- include('partials/scripts'); %>
</body>

</html>